body{
	background: #121212;
	color: #f2f2f2;
}
.h1{
	text-align: center;
	position: absolute;
	left: 500px;
	top:0px; 
}
.side-panel{
	background: #2b2b2b;
	height: 100%;
	width: 100px;
	position:fixed;
	top: 0px;
	right: 0px;
	left: 0px;
}
.hr{
	height: 100%;
	width: 1px;
	position: fixed;
	top: -10px;
	left: 100px;
	background: #f2f2f2; 
}
.st1{
	background:#9933cc;
	position:fixed;
	left:150px;
	top:30px;
	border-radius:0.1rem;
	padding:0 3rem;
	text-align: left;
	color: #f2f2f2;
	text-decoration: none;
}
.st2{
	background:#9933cc;
	position:fixed;
	left:150px;
	top:65px;
	border-radius:0.1rem;
	padding:0 3rem;
	text-align: left;
	color: #f2f2f2;
	text-decoration: none;
}
.st3{
	background:#9933cc;
	position:fixed;
	left:150px;
	top:100px;
	border-radius:0.1rem;
	padding:0 3rem;
	text-align: left;
	color: #f2f2f2;
	text-decoration: none;
}
.st4{
	background:#9933cc;
	position: fixed;
	top: 135px;
	left:120px;
	border-radius:0.1rem;
	padding:0 3rem;
	text-align: left;
	color: #f2f2f2;
	text-decoration: none;
}
#btn1{
	position: fixed;
	bottom: 50px;
	left: 0px;
	cursor:pointer;
	background: #121212;
	border-radius:5px;
	width: 110px;
	height: 40px;
	color: #f2f2f2;
	border-color:  #9933cc;
}
#btn2{
	position: fixed;
	bottom: 50px;
	left: 0px;
	cursor:pointer;
	background: #121212;
	border-radius:5px;
	width: 110px;
	height: 40px;
	color: #f2f2f2;
	border-color:  #9933cc;
	display: none;
}
div a{
	position:fixed;
	width:20px;
	height:25px;
	margin-top:1px;
	transition:right.2s linear;
	position:fixed;
	top: 0px;
	right: 0px;
	left: 0px;
}
div a:hover{
	right: 0px;
	width: 30px;
	height: 30px;
}
.manager{
	width: 100px;
	height: 90px;
	position: fixed;
	top:30px;
	left: 30px;
}
.frame{
	width: 100px;
	height: 90px;
	position: fixed;
	top:28px;
	left: 28px;
	border-color: #9933cc;
}
.messege1{
	width: 0; 
	height: 0;
	border-top: 8px solid transparent;
	border-right: 15px solid #9933cc;
	border-bottom: 8px solid transparent;
	position: fixed;
	top:35px;
	left: 140px;
}
.messege2{
	width: 0; 
	height: 0;
	border-top: 8px solid transparent;
	border-right: 15px solid #9933cc;
	border-bottom: 8px solid transparent;
	position: fixed;
	top:70px;
	left: 140px;
}
.messege3{
	width: 0; 
	height: 0;
	border-top: 8px solid transparent;
	border-right: 15px solid #9933cc;
	border-bottom: 8px solid transparent;
	position: fixed;
	top:105px;
	left: 140px;
}
.messege4{
	width: 0; 
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 15px solid #9933cc;
	position: fixed;
	top:125px;
	left: 120px;
}
.article{
	position: absolute;
	left: 300px;
	top: 80px;
}
.step1{
	position: absolute;
	top: 300px;
	left:300px;
}
.text1{
	position: absolute;
	top: 330px;
	left:300px;
}
.scr1{
	position: absolute;
	top: 480px;
	left:290px;
	width: 1000px;
	height: 500px;
}
.step2{
	position: absolute;
	top: 1050px;
	left:295px;
}
.text2{
	position: absolute;
	top: 1100px;
	left:280px;
}
.scr2{
	position: absolute;
	top: 1200px;
	left:290px;
	width: 1000px;
	height: 500px;
}
.text3{
	position: absolute;
	top: 1730px;
	left:270px;
}
.scr3{
	position: absolute;
	top: 1950px;
	left:290px;
	width: 1000px;
	height: 500px;
}
.step3{
	position: absolute;
	top: 2490px;
	left:295px;
}
.text4{
	position: absolute;
	top: 2550px;
	left:250px;
}
.scr4{
	position: absolute;
	top: 2650px;
	left:290px;
	width: 1000px;
	height: 500px;
}
.step4{
	position: absolute;
	top: 3190px;
	left:295px;
}
.text5{
	position: absolute;
	top: 3250px;
	left:150px;
}
